# Análisis y Tratamiento de los Datos

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [19]:
import numpy as np
import pandas as pd

data = pd.read_csv('drive/My Drive/ML-Proyecto/default_of_credit_card_clients.csv')
data.head()

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default payment next month
0   1      20000    2  ...         0         0                           1
1   2     120000    2  ...         0      2000                           1
2   3      90000    2  ...      1000      5000                           0
3   4      50000    2  ...      1069      1000                           0
4   5      50000    1  ...       689       679                           0

[5 rows x 25 columns]

In [20]:
data.info()
# No hay datos faltantes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
ID                            30000 non-null int64
LIMIT_BAL                     30000 non-null int64
SEX                           30000 non-null int64
EDUCATION                     30000 non-null int64
MARRIAGE                      30000 non-null int64
AGE                           30000 non-null int64
PAY_0                         30000 non-null int64
PAY_2                         30000 non-null int64
PAY_3                         30000 non-null int64
PAY_4                         30000 non-null int64
PAY_5                         30000 non-null int64
PAY_6                         30000 non-null int64
BILL_AMT1                     30000 non-null int64
BILL_AMT2                     30000 non-null int64
BILL_AMT3                     30000 non-null int64
BILL_AMT4                     30000 non-null int64
BILL_AMT5                     30000 non-null int64
BILL_AMT6                     30000 non-null int64
PAY_AMT1                      30000 non-null int64
PAY_AMT2                      30000 non-null int64
PAY_AMT3                      30000 non-null int64
PAY_AMT4                      30000 non-null int64
PAY_AMT5                      30000 non-null int64
PAY_AMT6                      30000 non-null int64
default payment next month    30000 non-null int64
dtypes: int64(25)
memory usage: 5.7 MB

In [21]:
# Caracteristicas con valores discretos: GENDER (1, 2), EDUCATION (1, 2, 3, 4), MARITAL_STATUS (1, 2, 3), 

data.nunique()

ID                            30000
LIMIT_BAL                        81
SEX                               2
EDUCATION                         7
MARRIAGE                          4
AGE                              56
PAY_0                            11
PAY_2                            11
PAY_3                            11
PAY_4                            11
PAY_5                            10
PAY_6                            10
BILL_AMT1                     22723
BILL_AMT2                     22346
BILL_AMT3                     22026
BILL_AMT4                     21548
BILL_AMT5                     21010
BILL_AMT6                     20604
PAY_AMT1                       7943
PAY_AMT2                       7899
PAY_AMT3                       7518
PAY_AMT4                       6937
PAY_AMT5                       6897
PAY_AMT6                       6939
default payment next month        2
dtype: int64

In [27]:
print("Valores unicos de EDUCATION: ", data.EDUCATION.unique())
print("Valores unicos de MARRIAGE: ", data.MARRIAGE.unique())

# Se puede observar que tanto la caracteristica EDUCATION (1, 2, 3, 4) como MARRIAGE (1, 2, 3) tienen registros que tienen algunos registros que tienen valores diferentes al establecido por la documentacion del Dataset

Valores unicos de EDUCATION:  [2 1 3 5 4 6 0]
Valores unicos de MARRIAGE:  [1 2 3 0]

In [28]:
# Para este caso los valores diferentes al establecido por la documentacion pasaran automaticamente a la categoria de otros

data['EDUCATION'].replace({0:4, 5:4, 6:4}, inplace = True)
data['MARRIAGE'].replace({0:3}, inplace = True)

print("Valores unicos de EDUCATION: ", data.EDUCATION.unique())
print("Valores unicos de MARRIAGE: ", data.MARRIAGE.unique())

Valores unicos de EDUCATION:  [2 1 3 4]
Valores unicos de MARRIAGE:  [1 2 3]

In [0]:
#Renombramos algunas columnas

data.rename(columns = {'PAY_0': 'PAY_1', 
                     'default payment next month':'default'}, 
                                 inplace = True)

# Entrenamiento

In [91]:
from sklearn.model_selection import train_test_split

indices = data.index.values

### INICIO DE TU CÓDIGO
indices_trainval, indices_test = train_test_split(indices, test_size=0.2, random_state=0)
indices_train, indices_val = train_test_split(indices_trainval, test_size=0.25, random_state=0)
### FIN DE TU CÓDIGO

# El conjunto de entrenamiento es: data.loc[indices_train]
# El conjunto de validación es: data.loc[indices_val]
# El conjunto de prueba es: data.loc[indices_test]

print(indices_train.shape) #60%
print(indices_val.shape) #20%
print(indices_test.shape) #20%

X_train = data.loc[indices_train].drop(['default'], axis=1)
y_train = data.loc[indices_train]['default']

X_val = data.loc[indices_val].drop(['default'], axis=1)
y_val = data.loc[indices_val]['default']

X_train_val = data.loc[indices_trainval].drop(['default'], axis=1)
y_train_val = data.loc[indices_trainval]['default']

X_test = data.loc[indices_test].drop(['default'], axis=1)
y_test = data.loc[indices_test]['default']

(18000,)
(6000,)
(6000,)

# KNN

In [96]:
from sklearn.neighbors import KNeighborsClassifier
n_neighbors = 7

knn = KNeighborsClassifier(n_neighbors)
modeloKnn1 = knn.fit(X_train, y_train)
print('Accuracy of K-NN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))

Accuracy of K-NN classifier on training set: 0.80

In [0]:
from sklearn import metrics

def print_binary_confusion_matrix(y_true, y_pred):
  confusion_matrix = metrics.confusion_matrix(y_true, y_pred)
  TN = confusion_matrix[0,0]
  FN = confusion_matrix[1,0]
  FP = confusion_matrix[0,1]
  TP = confusion_matrix[1,1]
  
  ### INICIO DE TU CÓDIGO
  exactitud = (TP+TN)/(TP+FP+TN+FN)
  precision = TP/(TP+FP)
  exhaustividad = TP/(TP+FN)
  ### FIN DE TU CÓDIGO

  print ('              +-----------------+')
  print ('              |   Predicción    |')
  print ('              +-----------------+')
  print ('              |    +   |    -   |')
  print ('+-------+-----+--------+--------+')
  print ('| Valor |  +  |  {:5d} |  {:5d} |'.format(TP, FN) )
  print ('| real  +-----+--------+--------+')
  print ('|       |  -  |  {:5d} |  {:5d} |'.format(FP, TN) )
  print ('+-------+-----+--------+--------+')
  print('Exactitud     : {:.3f}'.format(exactitud))
  print('Precisión     : {:.3f}'.format(precision))
  print('Exhaustividad : {:.3f}'.format(exhaustividad))
  print()

In [98]:
print('Conjunto de prueba :')
print_binary_confusion_matrix(y_test, modeloKnn1.predict(X_test))

Conjunto de prueba :
              +-----------------+
              |   Predicción    |
              +-----------------+
              |    +   |    -   |
+-------+-----+--------+--------+
| Valor |  +  |    205 |   1092 |
| real  +-----+--------+--------+
|       |  -  |    340 |   4363 |
+-------+-----+--------+--------+
Exactitud     : 0.761
Precisión     : 0.376
Exhaustividad : 0.158

In [99]:
modeloKnn1.score(X_test, y_test)

0.7613333333333333

# Usando Validacion Cruzada

Con la validacion cruzada podemos tener una mejor idea de cómo el modelo se desempeñará en nuevos datos.

In [92]:
# Cross validation
from sklearn.model_selection import cross_val_score

clf = KNeighborsClassifier(n_neighbors = 20)
scores = cross_val_score(clf, X_train_val.values.astype(float),y_train_val.values.astype(float), cv=10)
print(scores)
sum = 0
for item in scores:
  sum = sum + item
promedio_score = sum/len(scores)  
print("Promedio de score usando validacion cruzada: ", promedio_score)
print('Accuracy of K-NN classifier on test set: {:.2f}'
     .format(knn.score(X_test, y_test)))

[0.77426072 0.775      0.77625    0.7825     0.77625    0.7725
 0.76791667 0.7725     0.77041667 0.77949145]
Promedio de score usando validacion cruzada:  0.7747085512804197
Accuracy of K-NN classifier on test set: 0.76

In [93]:
clf.fit(X_train, y_train)
print('Conjunto de validacion :')
print_binary_confusion_matrix(y_test, clf.predict(X_test))

Conjunto de validacion :
              +-----------------+
              |   Predicción    |
              +-----------------+
              |    +   |    -   |
+-------+-----+--------+--------+
| Valor |  +  |    108 |   1189 |
| real  +-----+--------+--------+
|       |  -  |    114 |   4589 |
+-------+-----+--------+--------+
Exactitud     : 0.783
Precisión     : 0.486
Exhaustividad : 0.083

# Mejorando rendimiento KNN

In [94]:
from sklearn.model_selection import GridSearchCV

# Creamos un nuevo modelo
knn2 = KNeighborsClassifier()

# Creamos un diccionario con todos los valores que queremos probar para n_neighbors
param_grid = {'n_neighbors': np.arange(1, 25)}

# Usamos GridSearchCV para probar todos los valores para n_neightbors
knn_gscv = GridSearchCV(knn2, param_grid, cv=10)

# Ajustamos el modelo con los datos de entrenamiento
knn_gscv.fit(X_train_val, y_train_val)

print('Conjunto de validacion :')
print_binary_confusion_matrix(y_test, knn_gscv.predict(X_test))

print('Mejor parametro n_neighbors :')
knn_gscv.best_params_['n_neighbors']

Conjunto de validacion :
              +-----------------+
              |   Predicción    |
              +-----------------+
              |    +   |    -   |
+-------+-----+--------+--------+
| Valor |  +  |     97 |   1200 |
| real  +-----+--------+--------+
|       |  -  |     99 |   4604 |
+-------+-----+--------+--------+
Exactitud     : 0.783
Precisión     : 0.495
Exhaustividad : 0.075

Mejor parametro n_neighbors :

22

In [95]:
knn_gscv.score(X_test, y_test)

0.7835

**Vemos que el rendimiento mejoró en un 0,0225**