In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np
import pandas as pd

data = pd.read_csv('drive/My Drive/ML-Proyecto/default_of_credit_card_clients.csv')

In [4]:
data = data.iloc[1:]
data.head()

  Unnamed: 0      X1 X2 X3 X4  X5  X6  ...   X18    X19    X20   X21   X22   X23  Y
1          1   20000  2  2  1  24   2  ...     0    689      0     0     0     0  1
2          2  120000  2  2  2  26  -1  ...     0   1000   1000  1000     0  2000  1
3          3   90000  2  2  2  34   0  ...  1518   1500   1000  1000  1000  5000  0
4          4   50000  2  2  1  37   0  ...  2000   2019   1200  1100  1069  1000  0
5          5   50000  1  2  1  57  -1  ...  2000  36681  10000  9000   689   679  0

[5 rows x 25 columns]

In [5]:
# Ver porcentaje de datos faltantes por caracteristica
data.isna().sum()/len(data)

Unnamed: 0    0.0
X1            0.0
X2            0.0
X3            0.0
X4            0.0
X5            0.0
X6            0.0
X7            0.0
X8            0.0
X9            0.0
X10           0.0
X11           0.0
X12           0.0
X13           0.0
X14           0.0
X15           0.0
X16           0.0
X17           0.0
X18           0.0
X19           0.0
X20           0.0
X21           0.0
X22           0.0
X23           0.0
Y             0.0
dtype: float64

In [0]:
from sklearn.model_selection import train_test_split

# Separando la data en "Train" y "Test"
X_all = data.drop(['Y'], axis=1)
y_all = data['Y']

num_test = 0.20
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=num_test)

In [9]:
from sklearn.neighbors import KNeighborsClassifier
n_neighbors = 7

knn = KNeighborsClassifier(n_neighbors)
knn.fit(X_train, y_train)
print('Accuracy of K-NN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))
print('Accuracy of K-NN classifier on test set: {:.2f}'
     .format(knn.score(X_test, y_test)))

Accuracy of K-NN classifier on training set: 0.80
Accuracy of K-NN classifier on test set: 0.76

In [11]:
data_100 = pd.read_csv('drive/My Drive/ML-Proyecto/default_of_credit_card_clients_100.csv')
data_100 = data_100.iloc[1:]
data_100.head()

  Unnamed: 0      X1 X2 X3 X4  X5  X6  ...   X18    X19    X20   X21   X22   X23  Y
1          1   20000  2  2  1  24   2  ...     0    689      0     0     0     0  1
2          2  120000  2  2  2  26  -1  ...     0   1000   1000  1000     0  2000  1
3          3   90000  2  2  2  34   0  ...  1518   1500   1000  1000  1000  5000  0
4          4   50000  2  2  1  37   0  ...  2000   2019   1200  1100  1069  1000  0
5          5   50000  1  2  1  57  -1  ...  2000  36681  10000  9000   689   679  0

[5 rows x 25 columns]

In [12]:
# Separando la data en "Train" y "Test"
X_all_100 = data_100.drop(['Y'], axis=1)
y_all_100 = data_100['Y']

num_test = 0.20
X_train_100, X_test_100, y_train_100, y_test_100 = train_test_split(X_all_100, y_all_100, test_size=num_test)

n_neighbors = 7

knn = KNeighborsClassifier(n_neighbors)
knn.fit(X_train, y_train)
print('Accuracy of K-NN classifier on training set: {:.2f}'
     .format(knn.score(X_train_100, y_train_100)))
print('Accuracy of K-NN classifier on test set: {:.2f}'
     .format(knn.score(X_test_100, y_test_100)))

Accuracy of K-NN classifier on training set: 0.78
Accuracy of K-NN classifier on test set: 0.95

In [19]:
# Cross validation
from sklearn.model_selection import cross_val_score

clf = KNeighborsClassifier(n_neighbors = 7)
scores = cross_val_score(clf, X_all_100.values.astype(float),y_all_100.values.astype(float), cv=10)
print(scores)
sum = 0
for item in scores:
  sum = sum + item
promedio_score = sum/len(scores)  
print(promedio_score)

[0.81818182 0.63636364 0.72727273 0.72727273 0.6        0.7
 0.55555556 0.88888889 0.77777778 0.66666667]
0.7097979797979799